@import url("https://fonts.googleapis.com/css?family=Comfortaa|Playfair+Display:700");
$primary-color: #444;
$secondary-color: darkslategrey;
$primColor: #002b36;
$highColor: #edf67d;
$textMain: #c57b57;
$textSecondary: #009fb7;
$textGrey: #587b7f;

$playfair: "Playfair Display", serif;

$comfortaa: "Comfortaa", serif;
